/* ======== GLOBAL ======== */

* {
    margin: 0 0;
    padding: 0 0;
}

body {    
    font-family: 'Josefin Sans', sans-serif;
}

/* ======== TITLE ======== */
#title {
    padding-top: 20px;
    background-color: #B71C1C;
    box-shadow: 0px 0px 10px black;
    
    position: fixed;
    height: 90px;
    width: 100vw;
    
    z-index: 2;
    
    text-align: center;
}

#title h1 {    
    color: #FFCDD2;
    
    font-family: 'Josefin Slab', serif;
    font-size: 3em;
}

#title h2 {    
    color: #EF9A9A;
    
    font-weight: 100;
    font-size: 1.25em;
}

/* ======== MAIN PAGE ======== */
#page_content {
    width: 100vw;
    padding-top: 110px;
    
    display: flex;
}

/* ======== SIDE BAR ======== */
.side_bar {
    height: calc(100vh - 110px);
    width: 150px;
    z-index: 1;
    background-color: #F44336;
    overflow-x: hidden;
    
    box-shadow: 0px 0px 10px black;
}

.side_bar a {
    padding: 10px 10px;
    
    font-size: 1.25em;
    font-weight: 100;
    
    text-decoration: none;
    display: block;
    color: #FFCDD2;
}

.side_bar a.current_page {
    background-color: #B71C1C;
    border-right: 5px solid #E57373;
}

.side_bar a:hover {
    background-color: #D32F2F;
}

/* ======== CHART SAMPLE ======== */
#page_body {
    background-color: #E57373;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: calc(100vh - 110px);
    width: calc(100vw - 150px);
}

#chart_sample {
    margin: 20px 20px 10px 20px;
    border-radius: 10px;
    background-color: #FFCDD2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    grid-row: 1;
}

#bacon {
    margin: 10px 20px 20px 20px;
    
    border-radius: 10px;
    background-color: #FFCDD2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    grid-row: 2;
}